
@{
    ViewBag.Title = "Şifremi Unuttum";
}

<div class="row">
    <div class="col-md-offset-3 col-md-6">
        @using (Html.BeginForm("RecoverPassword", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.TextBox("email", null, new { @class = "form-control", placeholder = "E Mail adresi" })<br />
            <input type="submit" value="Şifremi Gönder" class="btn btn-warning" />
        }
        <div class="text-center text-info">
            <h1>@Html.Raw(ViewBag.sonuc)</h1>
        </div>
    </div>
</div>
